.fav-button{
    background: gold;
    color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#add{
    background-color: gray;
    color: gray;
}
#add:hover{
    background-color: gold;
    color: gold;
    opacity: 0.5;
}

#remove:hover{
    background-color: gray;
    color: gray;
    opacity: 0.5;
}